$mdc-theme-primary: #6ab344;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #FFFFFF;
$mdc-theme-on-secondary: #757575;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #757575;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #757575;